@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap');
@import 'antd/dist/antd.css';
@import 'react-toastify/dist/ReactToastify.css';
:root {
  height: 100%;
  --textGray: #757575;
  --primary: #1c212f;
  --bg-dark: #181818;
  --bg-blue: #007fff;
  --text-sm: 1.6rem;
  --text-md: 2rem;
  --text-lg: 3rem;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 45% !important;
  }
}
.note {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid red;
}
.hint {
  font-size: 1.5rem;
}
.special {
  color: #ffe3b1;
}
.ant-select-selection-item {
  color: white;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background: #007fff;
  border: none;
  outline: none;
}
.ant-upload-list-picture .ant-upload-list-item-error {
  border-color: black;
}
.ant-select-multiple .ant-select-selection-item {
  background-color: transparent;
  border: 1px solid black;
}
.ant-upload-list-item-name {
  color: black !important;
}

/* ant modal */
.ant-modal {
  width: fit-content !important;
  width: 520px;
  transform-origin: -189.266px 669px;
  -webkit-backdrop-filter: blur(19px);
  backdrop-filter: blur(17px);
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  background: #ffffff6b;
}
.ant-select-arrow {
  color: white;
}
.rowClassName1 td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rowClassName1 td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ant-modal-mask {
  background: #222222b8;
  /* backdrop-filter: blur(10px); */
}
.ant-modal-body .user_avatar {
  width: 5rem;
  border-radius: 50%;
}
.ant-modal-header {
  background-color: transparent;
}
.ant-modal-title {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  margin: 0 2rem 2rem 2rem;
}
.ant-modal-body {
  max-height: 66vh;
  overflow-y: scroll;
}
.ant-modal-body {
  -ms-overflow-style: none;
  scrollbar-width: 1px;
  overflow-y: scroll;
}

.ant-modal-body::-webkit-scrollbar {
  display: inline-block;
}
.ant-modal-body p {
  color: black;
}
.ant-modal-content {
  width: 100% !important;
  background: transparent;
  box-shadow: none;
}
.pagination_modal {
  margin: 1rem 0;
}
/* End ant modal */

.ck.ck-editor__main > .ck-editor__editable {
  height: 15rem;
}
.ck.ck-editor__main > .ck-editor__editable .ant-modal-body p {
  color: red;
}
.error_message {
  color: red !important;
  text-align: right;
  width: 45%;
  padding-right: 2rem;
  font-size: 1.6rem !important;
  text-align: left;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quantico', sans-serif !important;
  font-style: normal;
  letter-spacing: 0.0025em;
  position: relative;
}

html {
  font-size: 62.5%;
}

select {
  outline: none;
  border: none;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background: #181818;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin-bottom: 0;
}

li {
  list-style: none;
}

/* color */
.section_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.0025em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.t-white {
  color: #fff !important;
}

button {
  background: transparent;
}

input {
  background: transparent;
}

p {
  margin-bottom: 0;
}

.z_index {
  z-index: 99;
}

/* =============================================== */

.active {
  background: rgba(59, 114, 254, 0.3);
  backdrop-filter: blur(20px);
}

/* Slide ant */
.ant-carousel .slick-dots li {
  width: 100px;
  height: 16px;
}
.ant-carousel .slick-dots li.slick-active {
  width: 100px;
  height: 16px;
}
/* section-antd */
.item_select .ant-select-selector {
  background-color: #3b72fe !important;
}

.item_select .ant-select-arrow {
  color: #fff;
}
.disabled_text_selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.disabled_btn {
  cursor: not-allowed !important;
}
.disabled_btn:hover {
  background-color: var(--textGray) !important;
}
.upload_avatar_btn {
  width: 40rem;
}
.ant-tooltip-inner {
  display: none;
}
